# Hyprsome stuff

# Right
monitor=DP-2,3840x2160@120,3840x0,1
workspace=DP-2,1

# Left
monitor=DP-3,3840x2160@120,0x0,1
workspace=DP-3,11

wsbind=1,DP-2
wsbind=2,DP-2
wsbind=3,DP-2
wsbind=4,DP-2
wsbind=5,DP-2
wsbind=6,DP-2
wsbind=7,DP-2
wsbind=8,DP-2
wsbind=9,DP-2

wsbind=11,DP-3
wsbind=12,DP-3
wsbind=13,DP-3
wsbind=14,DP-3
wsbind=15,DP-3
wsbind=16,DP-3
wsbind=17,DP-3
wsbind=18,DP-3
wsbind=19,DP-3


